extends layout

block content 
  h1= title
  
  ul 
  each country in countriesList   
    li
      a(href=country.url) #{country.name}
      |  (  
      each continent in country.continents
        a(href=continent.url) #{continent.name}
      |  )
  else 
    li There are no countries
